* {
    padding: 0; margin: 0; box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #000000;
}
/*landing page section */
.container {
    background-image: url(coffee1.jpg); height:100vh; width:100%;
    background-repeat: no-repeat; background-size: cover;
    background-position:center;
     color: white;}
     header{
        display: flex; align-items: center; justify-content: space-around;
        background-color: black;  position:fixed;  top:0; right:0; left: 0;
        bottom: 0; height:15vh; z-index: 1;
    } 
    .logo img { width:100px; height:100px; margin-top:10px;

    }
    .icon-cancel{
        display: none;
    }
    nav ul li {  display: inline-block; 
 }
 nav ul li a {  color: white; padding:0px 10px;
 }  
 nav ul li a:hover {
    color:rgba(247, 182, 99, 0.87);
} 
.icon-nav {
    display: none;
} 
.icon i {
    padding:0px 5px;
} 
.about1 {
 position:relative; top:40%; left:10%; 
  width:50%;
}  
.about1 h1 {
    font-size: 50px; margin-bottom:15px;
}
.about1 p {
    line-height:25px; margin-bottom:20px;
}
.btn {
    background-color:rgba(247, 182, 99, 0.87);
    border:1px solid transparent; color: white; padding:10px 30px; width:clamp(10%,30%,50%);
    transition:width .5s; 
}
.btn:hover {
    width:25% ;
}

 /* ABOUT SECTION */
 .aboutus {
    background-color:#000000; color: white; margin: auto; padding:30px 0px;
    width: 100%;
}
.aboutus-heading h2 {
    text-align: center; font-size:35px;
}
.aboutus-heading h2 span {
    color:rgba(247, 182, 99, 0.87); 
}
.aboutus-content {
    display: flex; flex-direction:row; 
    align-items: center; justify-content: center;
    margin-top:20px;
    flex-basis:30%;
    
}
.aboutus-content img { object-fit: cover;
    width:30vw; height:60vh;
    
}
.aboutus-content .coffee-special {
    background-color:rgb(19, 19, 19); 
    line-height:25px; word-spacing:3px;
 width:50%;
  height: 60vh;
  padding:30px 9px;  
}
.aboutus-content .coffee-special h3{
    text-transform: capitalize;
}
.aboutus-content .coffee-special p {
margin-bottom: 10px;
}


/* menu section */
.menus {
   color: white; width:100%; text-align: center;
   padding: 30px 0px;
}
.menu-heading h2{  font-size:35px;
}
.menu-heading h2 span   {
    color:rgba(247, 182, 99, 0.87); 
   }
   .items{
    display: grid; grid-template-columns:repeat(auto-fit,minmax(10%,25%)); 
    justify-content: center; gap: 10px; padding-left: 15px;
   }
   .item1 img {
    width:50px; height: 50px; border-radius:50%;
   }
   .item1 {
    display:flex; flex-direction:column;
    justify-content: center; align-items: center;
     line-height:40px;
    padding:30px 40px;   margin-top:20px;
     box-shadow:0px 0px 2px rgba(247, 182, 99, 0.87),0px 0px 2px rgba(247, 182, 99, 0.87);
     transition:0.3s;
  }
  .item1:hover {
    background-color: white; color: black; 
    transform:scale(1.1);
  }
  .butn {
    background-color:rgba(247, 182, 99, 0.87);
    border:1px solid transparent; padding:10px 10px; color:white;
}
.butn:hover {
    background-color:rgba(114, 77, 28, 0.9) ;
}

/* latest product section */
.products {
    background-color: black; color: white; 
    margin: auto;
    padding:30px 0px;
    text-align: center;
    width:80%;
  
}
.product-heading h2 { font-size:35px;
}
.product-heading h2 span {   color:rgba(247, 182, 99, 0.87);
}
.product-content {
    display: grid; grid-template-columns:repeat(auto-fit,minmax(10%,25%));
    gap: 10px; padding-left:35px;
}
.image1 img {
    width:200px; height:200px;
}
.productitem1{
    display: flex; flex-direction: column; justify-content: center;
    align-items: center;   margin-top:20px;
    box-shadow:0px 0px 2px white,0px 0px 2px white; 
      padding:30px 10px;
}
.firsticon i {
    padding:3px 10px; border:1px solid white;
    box-shadow:0px 0px 2px white,0px 0px 2px white; 
}
.firsticon i:hover {
    background-color: rgba(247, 182, 99, 0.87);
}
.fresh1 i {
    color: rgba(247, 182, 99, 0.87);
}
.fresh1 i:nth-child(6) {
    color: #ffffff;
}

/* AN OPTIONAL MEDIA QUERY */
@media (max-width:750px) {
    .firsticon i{
        padding:3px 6px; 
    }  
}
@media (max-width:635px) {
    .product-content{
        display: flex; flex-direction: column;
    }
}

/* review section */
.review{  color:white;  padding:30px 0px;
    text-align: center;
    margin: auto;
   width: 100%;
}
.customerview h2 {
 font-size:35px;
}
.customerview h2 span {  color:rgba(247, 182, 99, 0.87);
}
.reviewsection-content { 
    display: grid; grid-template-columns:repeat(auto-fit,minmax(10%,25%)); 
    justify-content: center; gap: 10px; padding-left: 15px;
}
.reviewsection1 img {
    width:50px; height:50px; border-radius:50%;
}
.reviewsection1{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    box-shadow:0px 0px 2px rgba(247, 182, 99, 0.87),0px 0px 2px rgba(247, 182, 99, 0.87);
   padding:40px 20px;  line-height: 20px;
   margin-top: 20px;
    }
.reviewsection1 i {
    font-size: 25px;
}

/* AN OPTIONAL MEDIA QUERY */
@media (max-width:600px) {
    .review{
        width: 80%;
    }
    .reviewsection-content{
        display: flex; flex-direction: column;
        
    }  
}

/* contact us section */
.contactsection{
    width:100%;
    padding:30px 0px;
    margin: auto;
    color: #ffffff;
}
.contactus h2 {   text-align: center; font-size:35px;
}
.contactus h2 span { color:rgba(247, 182, 99, 0.87);
}
.contact-about {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    margin-top:30px;
    flex-basis: 40%;
}
.map iframe {
   width: auto;
   height:60vh;
}
.form { 
    width:50%;
    height:60vh;
      background-color: rgb(19, 19, 19);
    padding:40px 10px;
    border-radius: 5px;
 }
 .form label h3 {
    text-align:center; font-size:35px;
}
.user{
    width: 100%;
    position: relative;
}
.user i {
    position: absolute; top:5px; left: 4px; font-size:25px;
}
.form input {
    background-color:transparent; border:1px solid white; width:80%; 
    padding: 15px 29px;   margin-bottom:15px;
}
.contact-button {
    background-color:rgba(247, 182, 99, 0.87);
    border:1px solid white; color: white; padding:10px 20px; 
  width:30%; 
  margin-left: 20px;
     transition:width 1s;  
}
.contact-button:hover{
    width:27%;
}
   
/* BLOG SECTION */
.blog-about {
    width:100%;
    padding:30px 0px;
    margin: auto;
     color:white;
}
.blog-heading h2 {  text-align: center; font-size:35px;

}
.blog-heading h2 span {  color:rgba(247, 182, 99, 0.87);

}
.blog-items {  
    display: grid; grid-template-columns:repeat(auto-fit,minmax(10%,25%)); 
    justify-content: center; gap: 10px; padding-left: 15px;
}
.blog-item1 img { /* width:330px; height:230px; */
    width:auto; height: auto; object-fit: contain;
    transition: .5s;
}
.blog-item1 img:hover {
   transform: scale(0.9);
}
.blog-item1{
    display: flex; flex-direction: column; 
    margin-top: 30px;
    box-shadow:0px 0px 2px rgba(247, 182, 99, 0.87),0px 0px 2px rgba(247, 182, 99, 0.87);
  line-height:30px; 
}
.blog-items h4{ text-transform: capitalize; margin-left:10px;
    font-size:18px;

}
.blog-items p {
    color: rgba(247, 182, 99, 0.87); margin-left:10px;
}
.blog-items small {
    margin-left:10px;
}
.buttonblog {  background-color:rgba(247, 182, 99, 0.87);
    border:1px solid transparent; color: white; padding:6px 20px;
     margin:0px 0px 20px 10px;
    width:50%;
    transition:width 1s; 
}
.buttonblog:hover {
 width:45%;
}

/* SOCIAL MEDIA HANDLE SECTION */
.handles {
   color: aliceblue;  padding:30px 0px;
   margin: auto;
   text-align: center;
   width: 80%;
}
.handleicons i {   background-color: rgba(247, 182, 99, 0.87); border-radius:50%;
    padding:9px; margin:6px;

}
.navigation {
    margin-top:20px;
}
.navigation ul li {
    display: inline-block; list-style-type: none;  box-shadow:0px 0px 2px white,0px 0px 2px; 
    margin:2px 5px;  padding:5px 20px;
}
.navigation ul li a {
    color:white; text-decoration: none; 
}  


/* media query section */

@media (max-width:768px) {
    .aboutus-content {
        display: flex; flex-direction:column; 
        gap:10px;
}
.aboutus-content img { object-fit: cover;
    width:70vw; height:60vh; 
    
}
.aboutus-content .coffee-special{
    width:70%;
}
}

/*MEDIA QUERY AT 760PX */
@media (max-width:760px) {
    .icon-cancel{
        display: block;
        position: absolute; right: 0;
        top: 10px;
        font-size:30px;
    }
    .icon-nav{
        display: block;
        font-size:30px; font-weight: 800;
    }
    .nav-bar {
        position: absolute;
        top:0;
        left:-200px;
        text-align:right;
        width:200px;
        height: 100vh;
        background-color: #000000;
        transition: .5s;
    }
    .nav-bar ul {
        display:flex;
        flex-direction: column;
        margin:60px auto;
    }
    .nav-bar ul li  {
        margin-bottom:2.5rem;
    }
       .about1 h1 { 
           font-size:30px;
        }  
    }
/* MEDIA QUERY @654 */
    @media (max-width:654px) {
        .contact-about {
            display: flex; flex-direction: column;
              } 
              .map iframe {
                width:30vh;
              } 
                  } 

    /* MEDIA QUERY AT 480PX */
    @media (max-width:480px) {
       .btn {
           width: 40%;
       } 
      butn {
            font-size:7px;
        } 
           .form {
                height:60vh;
              }   
        .contact-button { width:40%;}
        
            .blog-items{
              display: flex; flex-direction: column;
              width: 80%;
            } 
 
     }
    

